.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App > section {
  padding: 40px 0;
}

.App > .container {
  flex: 1;
  text-align: center;
}

.App > footer {
	text-align: center;
}
